body{
  background-color: black;
}

div.osnova{
  display: inline-block;
  position:absolute;
  height:100%;
  width: 100%;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
  text-align: center;
  font-size: 100px;
}

#podnaslov{
  text-align: center;
  font-size: 40px;
}

.col-md-4{
  outline-style: solid;
  outline-color: black;
}

h3{
  text-align: center;
  font-size: 35px;
}

#onogometu{
  text-align: justify;
  font-size: 20px;
}

img {
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.expanded {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  margin: auto;
  float: left;
}

#slike{
  border: none;
  background: none;
  outline: none;
  bottom: 0;
  right: 0;
}

#predivanvideo{
  background: none;
  outline: none;
}

#audio{
  text-align: center;
  font-size: 29px;
}

div.centerplayer{
  margin: auto;
  display: table;
}

#modric{
  background: none;
  outline: none;
}

#navijaci{
  background: none;
  outline: none;
}

#slika{
  display:inline-block;
  width: 250px;
  height: 250px;
}
